# app and environment configuration
APP_ENV=production # 'development' for dev
APP_DEBUG=false # 'true' for dev
LOG_LEVEL=error # 'debug' for dev

# fossbilling configuration
FOSSBILLING_PORT=8081

# mysql configuration
MYSQL_HOST=
MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=3306
MYSQL_PORT_DOCKER=3306

# rabbitmq configuration
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672